/rc/models/__pycache__/
/src/data_loading/__pycache__/
/src/algos/supervised/__pycache__/
/outputs
/outputs/*
/configs/__pycache__/

__pycache__/
*.pyc
/experiments/shifting_tasks_on_Imagenet/outputs/

/experiments/Normalized_weights_vs_Batched_norm/outputs
experiments/Normalized_weights_vs_Batched_norm/outputs/*
experiments/Normalized_weights_vs_Batched_norm/outputs/*/*

.vscode/launch.json